name: Build

on:
  workflow_dispatch:
  pull_request:

jobs:
  test-on-macos:
    runs-on: macos-26
    env:
      DEVELOPER_DIR: /Applications/Xcode_26.2.app/Contents/Developer
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.konan
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Initialize Gradle
        run: |
          ./gradlew publishToMavenLocal \
            -Pmockative.projects=':mockative-plugin,:mockative,:mockative-processor'

      - name: Run tests with Gradle
        run: ./gradlew allTests
